<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="searchWord">
    <div v-for="item in search">
      <div>{{item}}</div>
    </div>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
// data
      data() {
        return {
          searchWord:'',
          list:[
            '佐藤',
            '山田',
            '鈴木',
            '田中',
          ],
          searchResult:[],
        }
      },
// method
      methods: {
        }
      ,
// computed
      computed:{
        search:function(){
          var searchResult = [];
          for(var i in this.list){
            var word = this.list[i];
            if(word.indexOf(this.searchWord) !== -1){
              searchResult.push(word);
            }
          }
          return searchResult;
          }
      }
    });
  </script>
<!-- style -->
  <style>
input{
  border: solid 3px rgb(6, 228, 6);
  border-radius: 3px;
  line-height: 20px;
}
li{
  list-style: none;
}
  </style>
</body>
</html>