<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="searchWord">
    <ul class="target-area">
      <li>佐藤</li>
      <li>山田</li>
      <li>鈴木</li>
      <li>田中</li>
      <li>aaa</li>
    </ul>
    <div v-for="item in searchResult">
    <div>{{item}}</div></div>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
// data
      data() {
        return {
          searchWord:'',
          list:[
            '佐藤',
            '山田',
            '鈴木',
            '田中',
            'aaa'
          ],
          searchResult:[''],
        }
      },
// method
      methods: {
        }
      ,
// computed
      computed:{
        search(){
          const data = this.list;
          this.searchResult =  data.filter(function(value){
            return value === 'this.searchWord';
          })
          }
      }
    });
  </script>
<!-- style -->
  <style>
input{
  border: solid 3px rgb(6, 228, 6);
  border-radius: 3px;
  line-height: 20px;
}
li{
  list-style: none;
}
  </style>
</body>
</html>